<h1>
  <%= "Acount for #{@user.first_name} #{@user.last_name}" %>
</h1>

<%= simple_form_for(@user, url: user_path(@user), method: :patch) do |form| %>
  <%= render "shared/form_errors", form: form %>

  <div class="mb-3">
    <%= form.label :first_name %>
    <%= form.text_field :first_name,
      class: "form-control",
      placeholder: "First Name",
      input_html: { value: @user.first_name || '[ENTER FIRST NAME]' }
    %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, required: false %>
    <%= form.text_field :email, class: "form-control", placeholder: "employee@business.com" %>
  </div>

  <div class="mb-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>


  <div class="mb-3">
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
