<p id="notice"><%= notice %></p>

<p>
  <strong>First Day:</strong>
  <%= @schedule.first_day.strftime("%m/%d/%y") %>
</p>

<p>
  <strong>Last Day:</strong>
  <%= @schedule.last_day.strftime("%m/%d/%y") %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
